<div [hidden] = "isVisible()" class = "popup">

<div>
    <a class="delete" (click)="onPrev()">
        Prev
      </a>
    <img [src]="imagePath()" [mwLarger]="false">
    <a class="delete" (click)="onNext()">
        Next
      </a>
</div>

<div>
    <h2>{{ mediaItem ? mediaItem.name : "" }}</h2>
    <div>{{ mediaItem ? mediaItem.category : ""}}</div>
    <div>{{ mediaItem ? mediaItem.year : ""}}</div>
    <div class="tools">
      <a class="delete" (click)="onClose()">
        Close
      </a>
    </div>
</div>

</div>